.card-container {
  cursor: pointer;
}

.card-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.03;
  pointer-events: none;
}

.card-hover {
  .card-container {
    background-color: #f7f7f7;
  }
}

.story-img {
  height: 275px;
}

.card-actions {
  top: 85px;
  left: 135px;
}

.image-container {
  height: 202px;
  img {
    max-height: 100%;
  }
}
