<div class="mega-menu" [class.show]="showMenu()">
  <div class="menu-column">
    <h4>Men</h4>
    <a href="#">T-Shirts</a>
    <a href="#">Casual Shirts</a>
    <a href="#">Formal Shirts</a>
    <a href="#">Jackets</a>
    <a href="#">Blazers & Coats</a>
    <h4>Indian & Festive Wear</h4>
    <a href="#">Kurtas & Kurta Sets</a>
    <a href="#">Sherwanis</a>
  </div>
  <div class="menu-column">
    <h4>Women</h4>
    <a href="#">Kurtas & Suits</a>
    <a href="#">Sarees</a>
    <a href="#">Ethnic Wear</a>
    <a href="#">Lehenga Cholis</a>
    <a href="#">Jackets</a>
    <h4>Western Wear</h4>
    <a href="#">Dresses</a>
    <a href="#">Jumpsuits</a>
  </div>
  <div class="menu-column">
    <h4>Footwear</h4>
    <a href="#">Flats</a>
    <a href="#">Casual Shoes</a>
    <a href="#">Heels</a>
    <a href="#">Boots</a>
    <a href="#">Sports Shoes & Floaters</a>
    <h4>Product Features</h4>
    <a href="#">360 Product Viewer</a>
    <a href="#">Product with Video</a>
  </div>
  <div class="menu-column">
    <h4>Kids</h4>
    <a href="#">T-Shirts</a>
    <a href="#">Shirts</a>
    <a href="#">Jeans</a>
    <a href="#">Trousers</a>
    <a href="#">Party Wear</a>
    <a href="#">Innerwear & Thermal</a>
    <a href="#">Track Pants</a>
    <a href="#">Value Pack</a>
  </div>
</div>
