<div class="container py-5 my-5">
  <div class="row">
    <div class="col-md-3 col-6">
      <i class="fa-solid fa-truck-fast"></i>
      <div class="fw-bold my-2">Free Shipping</div>
      <div class="text-muted">Free shipping for order above $150</div>
    </div>
    <div class="col-md-3 col-6">
      <i class="fa-solid fa-sack-dollar"></i>
      <div class="fw-bold my-2">Money Guarantee</div>
      <div class="text-muted">Within 30 days for an exhange</div>
    </div>
    <div class="col-md-3 col-6">
      <i class="fa-solid fa-headphones"></i>
      <div class="fw-bold my-2">Online Support</div>
      <div class="text-muted">24 hours a day, 7 days a week</div>
    </div>
    <div class="col-md-3 col-6">
      <i class="fa-regular fa-credit-card"></i>
      <div class="fw-bold my-2">Flexible Payment</div>
      <div class="text-muted">Pay with multiple credit cards</div>
    </div>
  </div>
</div>
