.comment-card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stars {
  color: #f5b301;
  font-size: 1.3em;
}

.comment {
  font-size: 1em;
}

.user-image {
  width: 65px;
  height: 65px;
}
