<div class="container mt-5">
  <div class="row d-flex align-items-center">
    <div class="col-md-7 col-12">
      <h1 class="title">Deals of the Month</h1>
      <div>
        It is along established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters.
      </div>
      <div class="d-flex mt-5">
        <div
          class="d-flex flex-column text-center border rounded p-3 number-section"
        >
          <div class="fw-bold number">120</div>
          <div class="pt-2">Days</div>
        </div>
        <div
          class="d-flex flex-column text-center border rounded p-3 number-section mx-3"
        >
          <div class="fw-bold number">18</div>
          <div class="pt-2">Hours</div>
        </div>
        <div
          class="d-flex flex-column text-center border rounded p-3 number-section"
        >
          <div class="fw-bold number">15</div>
          <div class="pt-2">Mins</div>
        </div>
        <div
          class="d-flex flex-column text-center border rounded p-3 number-section ms-3"
        >
          <div class="fw-bold number">10</div>
          <div class="pt-2">Secs</div>
        </div>
      </div>
      <button class="btn btn-dark mt-5">
        View All Products <i class="fa-solid fa-right-long"></i>
      </button>
    </div>
    <div class="col-md-5 col-12">
      <img
        src="assets/images/monthdeals.png"
        class="img-fluid"
        alt="deals-img"
      />
    </div>
  </div>
</div>
