.category-card {
  background-color: #f7f7f7;
}

.category-image {
  height: 300px;
}

.category-title {
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

.category-card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.03;
  pointer-events: none;
}
