<footer class="container-fluid py-4 footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12">
        <div class="d-flex flex-column">
          <h4 class="fw-bold logo">Shopping</h4>
          <ul class="links">
            <li><i class="fa-solid fa-phone-volume"></i> (704) 555-0127</li>
            <li>
              <i class="fa-regular fa-envelope"></i> shopping&#64;example.com
            </li>
            <li>
              <i class="fa-solid fa-location-dot"></i> 3891 Ranchview Dr.
              Richardson, California 62639
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-12">
        <h4>Information</h4>
        <ul class="links">
          <li><a href="#">My Account</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">My Cart</a></li>
          <li><a href="#">My Wishlist</a></li>
          <li><a href="#">Checkout</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <h4>Service</h4>
        <ul class="links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Delivery Information</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-12 footer-subscribe">
        <h4>Subscribe</h4>
        <p>
          Enter your email below to be the first to know about new collections
          and product launches.
        </p>
        <form class="d-flex subscribe-form">
          <input
            type="email"
            placeholder="Your Email"
            class="d-flex flex-grow-1 px-3 border-0"
          />
          <button type="submit" class="px-3 py-2 border-0">
            <i class="fa fa-arrow-right"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="row mt-4 pt-4 footer-bottom">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex payment-methods">
          <div class="bg-white payment-image-container">
            <img
              src="assets/images/visa.png"
              class="img-fluid w-100 h-100"
              alt="Visa"
            />
          </div>
          <div class="bg-white payment-image-container mx-2">
            <img
              src="assets/images/mastercard.png"
              class="img-fluid w-100 h-100"
              alt="MasterCard"
            />
          </div>
          <div class="bg-white payment-image-container">
            <img
              src="assets/images/googlepay.png"
              class="img-fluid w-100 h-100"
              alt="Google Pay"
            />
          </div>
          <div class="bg-white payment-image-container ms-2">
            <img
              src="assets/images/paypal.png"
              class="img-fluid w-100 h-100"
              alt="PayPal"
            />
          </div>
        </div>
        <div>©2024 Shopping All Rights are reserved</div>
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
