.procut-card-hover {
  cursor: pointer;
  .hoverable-area {
    background-color: #f7f7f7;
  }
  .hoverable-area::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.03;
    pointer-events: none;
  }
}

.poduct-image-container {
  height: 250px;
  img {
    max-height: 100%;
  }
}

.add-to-cart-section {
  bottom: 20px;
}

.card-actions {
  top: 15px;
  right: 20px;
}
